<p id="notice"><%= notice %></p>

<h1>Listing Feedback Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedback_types.each do |feedback_type| %>
      <tr>
        <td><%= feedback_type.name %></td>
        <td><%= feedback_type.description %></td>
        <td><%= feedback_type.active %></td>
        <td><%= link_to 'Show', feedback_type %></td>
        <td><%= link_to 'Edit', edit_feedback_type_path(feedback_type) %></td>
        <td><%= link_to 'Destroy', feedback_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback type', new_feedback_type_path %>
