<p id="notice"><%= notice %></p>

<p>
  <strong>Perfil:</strong>
  <%= "Perfil" %>
</p>

<%= image_tag @profile.avatar.url(:thumb) %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
