
<div id="form_address">
<%= f.fields_for :address do |a| %>
        <%= a.text_field :cep, data: {inputmask: "'mask': '99999-999'"}, class:"form-control" , label_col: "col-md-4", control_col: "col-md-4" , append: link_to("Buscar", "#", class: "btn btn-default", id: "buscarCep", onclick: "return false;") %>

        <script>
          $("#buscarCep").click(function () {
            $.ajax({
              url: "/professionals/cep/" + $('#professional_address_attributes_cep').val(),
              type: "GET"
            });
          });
        </script>


    <%= a.text_field :main, label_col: "col-md-4", control_col: "col-md-6" %>


    <%= a.text_field :num, label_col: "col-md-4", control_col: "col-md-2" %>
    <%= a.text_field :complement, label_col: "col-md-4", control_col: "col-md-6" %>
    <%= a.text_field :district, label_col: "col-md-4", control_col: "col-md-6" %>
      <%= a.collection_select :city_id, city_list, :id, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"} %>


          <%= a.collection_select :state_id, State.all, :id, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"} %>
          <script>
            $(document).ready(function() {
              $('#professional_address_attributes_state_id').change(function() {
                $.ajax({
                  url: "<%= update_city_list_path %>",
                  data: {
                    state_id : $('#professional_address_attributes_state_id').val()
                  },
                  dataType: "script"
                });
              });
            });
          </script>

<% end %>
</div>