<%= bootstrap_form_for(@professional, layout: :horizontal,inline_errors: false, html: {multipart: true}) do |f| %>
    <fieldset>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :active %>
      <%= render partial: 'address', locals: {address: @professional.address,f:f} %>

          <%= f.primary 'Submit' %>

    </fieldset>
<% end %>
<div id="new_professional_service">
<%= render partial: 'professional_services_form', locals: {services: @services,professional_service: @professional_service} %>
</div>
<div id="form_professional_services">
  <%= render partial: 'professional_services_fields' %>
</div>