<%= bootstrap_form_for(@professional, layout: :horizontal,inline_errors: false, html: {multipart: true}) do |f| %>
    <fieldset>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :active %>
      <%= render partial: 'address', locals: {address: @professional.address,f:f} %>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <%= f.submit 'Submit', class:"btn btn-success btn-lg" %>
        </div>
      </div>
    </fieldset>
<% end %>
<div id="new_professional_service">
<%= render partial: 'professional_services_form', locals: {services: @services,professional_service: @professional_service} %>
</div>
<div id="form_professional_services">
  <%= render partial: 'professional_services_fields' %>
</div>
