<div class="modal fade" id="professionalServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= bootstrap_form_for(@professional_service,:url => url_for(:controller => 'professionals', :action => 'create_professional_services') , layout: :horizontal,:format => :js,:remote =>true , inline_errors: false) do |form| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title-site text-center">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form.fields_for :service do |service_form| %>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <%= service_form.collection_select  :category_id, Category.all, :id, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"}, {:class=>'form-control'} %>
            <script>
              $(document).ready(function() {
                $('#professional_service_service_attributes_category_id').change(function() {
                  $.ajax({
                    url: "<%= update_services_path %>",
                    data: {
                      category_id : $('#professional_service_service_attributes_category_id').val()
                    },
                    dataType: "script"
                  });
                });
              });
            </script>
        <% end %>
        <%= form.collection_select :service_id, services, :id, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"} , {:class=>'form-control'}%>
        <%= form.text_field :price , label_col: "col-md-4", control_col: "col-md-6" %>
        <%= form.collection_select :service_unit_id, ServiceUnit.all, :id, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"}, {:class=>'form-control'} %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.primary 'Submit' %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




