<div class="panel-content">
  <div class="panel-body">
    <% if not @professional_service_list.empty? %>
<table class="table">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.professional_profession_service.category_id'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.service_id'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.price'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.service_unit_id'%></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @professional_service_list.each do |ps| %>
      <tr>
        <td><%= ps.service.category.name %></td>
        <td><%= ps.service.name %></td>
        <td><%= ps.price %></td>
        <td><%= ps.service_unit.name %></td>
        <td><%= link_to 'Edit', professionals_edit_professional_services_path(:id => @professional_service.id), remote: true %></td>
        <td><%= link_to ps, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="icon-trash-2"></i>
            <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
    <%end%>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-8 text-right">
        <%= link_to t('professionals.new_part2.new_service'), professionals_new_professional_services_path(:professional_profession_id => @professional_service.professional_profession_id), remote: true, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
