
    <% if not @professional_service_list.empty? %>
<table class="table">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.professional_profession_service.category_id'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.service_id'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.price'%></th>
    <th><%= t 'activerecord.attributes.professional_profession_service.service_unit_id'%></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @professional_service_list.each do |ps| %>
      <tr>
        <td><%= ps.service.category.name %></td>
        <td><%= ps.service.name %></td>
        <td><%= number_to_currency(ps.price, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= ps.service_unit.name %></td>
        <td><%= link_to  professionals_edit_professional_services_path(:id => @professional_service.id), remote: true  do%>
              <i class="icon-pencil"></i>
              <%end%>
        </td>
        <td><%= link_to professionals_delete_professional_services_path(:id => @professional_service.id), remote: true, method: :delete do %>
              <i class="icon-trash-2"></i>
            <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
    <%end%>
    <div class="form-group" style="margin-bottom:0">
      <div class="text-right">
        <%= link_to t('professionals.new_part2.new_service'), professionals_new_professional_services_path(:professional_profession_id => @professional_service.professional_profession_id), remote: true, class: "btn btn-primary" %>
      </div>
    </div>