<div class="main-container">
  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <div class="col-md-12 page-content">
        <div class="inner-box category-content">
          <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> <%= t('.title')%></strong></h2>
          <div class="row">


              <div id="form_professional_services" class="panel" style="margin-bottom: 0px;">
                <%= render 'professional_services_fields' %>
              </div>
              <div id="new_professional_service">
                <%= render 'professional_services_form' , locals: {services: @services}  %>
              </div>



          </div>
        </div>

      </div>
      <div class="col-md-12 page-content">
        <div class="inner-box category-content">
          <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> <%= t('.title')%></strong></h2>
          <div class="row">





          </div>
        </div>

      </div>
      <!-- /.page-content -->


    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<script src="/js/fileinput.min.js" type="text/javascript"></script>
<script>
  // initialize with defaults
  $(".fileuploadservice").fileinput({'showUpload':false, 'previewFileType':'any', browseLabel:'Procurar...',removeLabel:'Remover'});
</script>
<!-- /.main-container -->
