<p id="notice"><%= notice %></p>

<h1>Listing Source Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Professional</th>
      <th>Professional profession</th>
      <th>Professional profession service</th>
      <th>Feedback type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @source_feedbacks.each do |source_feedback| %>
      <tr>
        <td><%= source_feedback.professional_id %></td>
        <td><%= source_feedback.professional_profession_id %></td>
        <td><%= source_feedback.professional_profession_service_id %></td>
        <td><%= source_feedback.feedback_type_id %></td>
        <td><%= link_to 'Show', source_feedback %></td>
        <td><%= link_to 'Edit', edit_source_feedback_path(source_feedback) %></td>
        <td><%= link_to 'Destroy', source_feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source feedback', new_source_feedback_path %>
