<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @professional_service.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @professional_service.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @professional_service.active %>
</p>

<p>
  <strong>Price:</strong>
  <%= @professional_service.price %>
</p>

<p>
  <strong>Service:</strong>
  <%= @professional_service.service %>
</p>

<p>
  <strong>User:</strong>
  <%= @professional_service.user_id %>
</p>

<%= link_to 'Edit', edit_professional_service_path(@professional_service) %> |
<%= link_to 'Back', professional_services_path %>
