<div class="listing-filter">
                          <div class="pull-left col-xs-6">
                              <div class="breadcrumb-list"><a href="list_service" class="current"> <span><%= t('.all_service') %></span></a>
                                  <!--New York
                                  <a href="#selectRegion" id="dropdownMenu1" data-toggle="modal">
                                      <span class="caret"></span> </a>-->
                              </div>
                          </div>
                          <div class="pull-right col-xs-6 text-right listing-view-action">
                              <span class="list-view active"><i class="  icon-th"></i></span>
                              <span class="grid-view "><i class=" icon-th-large "></i></span></div>
                          <div style="clear:both"></div>
                      </div>
                      <!--/.listing-filter-->
                      <div class="adds-wrapper">
                          <% @professional_profession_services.each do |professional_profession_service| %>
                            <div class="item-list">
                                <div class="col-sm-2 no-padding photobox">
                                    <div class="add-image">
                                        
                                        <%= link_to professional_profession_service do %>
                                          <% if (!professional_profession_service.profile.nil?) %>
                                            <%= image_tag (professional_profession_service.profile.avatar.url(:thumb)), class: 'thumbnail no-margin' %>                                             
                                            <% end %>
                                          <% end %>    
                                      </div>
                                  </div>
                                  <!--/.photobox-->
                                  <div class="col-sm-7 add-desc-box">
                                      <div class="add-details">
                                          <h5 class="add-title"> <%= get_name_user(professional_profession_service.user) %> </h5>
                                          <span class="info-row">
                                              <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right"
                                                    title="Profissional Autônomo"><i class="fa icon-user-2"></i> </span>
                                              <span class="date"><i class=" icon-person"> </i> <%= professional_profession_service.professional_profession.profession.name %></span>
                                          </span>
                                          <span class="info-row">
                                              <i class="<%=display_star_feedback(1, "star", professional_profession_service)%>" style="color:<%=display_star_feedback(1, "color_star", professional_profession_service)%>"> </i>
                                              <i class="<%=display_star_feedback(2, "star", professional_profession_service)%>" style="color:<%=display_star_feedback(2, "color_star", professional_profession_service)%>"> </i>
                                              <i class="<%=display_star_feedback(3, "star", professional_profession_service)%>" style="color:<%=display_star_feedback(3, "color_star", professional_profession_service)%>"> </i>
                                              <i class="<%=display_star_feedback(4, "star", professional_profession_service)%>" style="color:<%=display_star_feedback(4, "color_star", professional_profession_service)%>"> </i>
                                              <i class="<%=display_star_feedback(5, "star", professional_profession_service)%>" style="color:<%=display_star_feedback(5, "color_star", professional_profession_service)%>"> </i>
                                          </span>
                                      </div>
                                  </div>
                                  <!--/.add-desc-box-->
                                  <div class="col-sm-3 text-right  price-box">
                                      A partir de
                                      <h2 class="item-price"><%= number_to_currency(professional_profession_service.price, unit: "R$",
                                            separator: ",", delimiter: ".") %> </h2>
                                      <a class="btn btn-danger  btn-sm make-favorite">
                                          <i class="fa fa-certificate"></i>
                                          <span>Urgent</span> </a>
                                      <a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i>
                                          <span>Save</span>
                                      </a>
                                  </div>
                                  <!--/.add-desc-box-->
                              </div>
                            <% end %>
                            <!--/.item-list-->


                        </div> <!--/.adds-wrapper-->
                  
                  	<div class="tab-box  save-search-bar text-center">
                            <a href=""> <i class=" icon-star-empty"></i> Save Search </a></div>
                    </div>	
                  
                   
                    
                    
                    