<h1>New Professional Profession Image</h1>

<%= render 'form' %>

<%= form_for(@professional_profession_image, url: professional_profession_images_path, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :Foto %>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>

<%= link_to 'Back', professional_profession_images_path %>
